@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&display=swap');

:root {
  --color-primary:rgba(255, 255, 255, 0.87);
  --color-secondary: rgb(36, 36, 36);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-primary);
  background-color:var(--color-secondary);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}
/***********************************************************************************************************/
/**********************************************MOBILE*******************************************************/
/**********************************************************************************************************/
@media screen and (min-width:320px) and (max-width:767px){
  body{
    margin:1rem;
    padding:0rem;
  }
   header{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top:0px;
    padding:0rem;
    
  }
  
      .cabecera{
        width: 100%;
        align-items: center;
        justify-content:center;
        text-align: center;
        padding: 5px;
        display: flex;
        flex-wrap:wrap;
        flex-direction:row;
        margin-top:50px;
        top:0px;
        font-size: 0.8rem;
        /* border:1px solid violet; */
        }
        .cabecera > .img{
          width: 120px;
          height: 180px;
          /* height: 50%; */
        }
        .cabecera > .img img{
          width: 100%;
          height: 100%;
        }
          p{
            text-align: center;
            font-size: 1.1rem;
              font-family: "Grenze Gotisch", serif;
              font-optical-sizing: auto;
              font-weight:400;
              width: 90%;
              margin-top: 20px;
              /* border: 1px solid white; */
          }
  
h1{
  font-family: "BatmanForeverAlternate"; 
  font-size:2.5rem;
  display: none;
}
#carousel{
  margin-top:50px;
  text-align: center;
  align-items: center;
  /* border: 1px solid yellow; */
}
#carousel p{
  margin: auto;
  margin-top: 30px;
  /* border: 1px solid red; */
}
h2, h4{
  width: 90%;
  text-align: center;
  margin: auto;
  font-family: "BatmanForeverAlternate"; 
  font-size: 1.3rem;
  /* border: 1px solid red; */
}
.thepower-carousel{
  display: flex;
  flex-wrap: wrap;
  flex-direction:row;
  width: 100%;
  justify-content: space-around;
  height:100vh;
  margin: auto;
  margin-top: 30px;
  /* border: 1px solid green; */
}

.scrollable-set{
  display: flex;
  flex-wrap: wrap;
  padding:0px;
  overflow-y: hidden;
  overflow-x: scroll;
  align-items: center;
  gap: 0.60rem;
  margin-top:0px;
  cursor: pointer;
  width:100%;
  height: 35%;
  flex-direction:column;
  margin-left:0px;
  border: 2px solid gray;
  }

  .scrollable-set > .clickable{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width:100px;
    min-height:200px;
    margin-top:0px;
    cursor: pointer;
    /* margin: auto; */
    border: 2px solid  gray;
    }
    li.clickable img{
      width:100%;
      height: 100%;
      pointer-events: none;
      padding:0px;
      margin-top: 0px;
      cursor: pointer;
      /* border: 1px solid  goldenrod; */
      }
      div.image-preview{
        width:100%;
        height:80%;
        margin: auto;
        background-position:top;
        background-repeat:no-repeat;
        background-size:cover;
        background-color:var(--color-secondary);
        border-radius: 10px;
        margin-top:10px;
        /* border: 2px solid  gray; */
        }
        .BTN{
          width:120px;
          display: flex;
          justify-content: center;
          border-radius: 7px;
          padding: 2px;
          border:1px solid goldenrod;
          background-color: rgb(241, 235, 235);
          margin: auto;
          margin-top:130px;
          }
          button.btn-delete{
            flex-wrap: wrap;
            padding:6px;
            border: 0px;
            cursor: pointer;
            text-align: center;
            margin-left:0px;
            margin-top:0px;
            font-size: 0.7rem;
            margin: auto;
            /* border:1px solid  red */
          }
/*section---2*/
#section-2{
  /* display: flex; */
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding: 10px;
  gap: 3rem;
  margin-top: 20px;
  /* border: 1px solid white; */
}
main  #section-2 li.clickable{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  width:90%;
  height:90%;
  align-items: center;
  margin: auto;
  margin-top: 10px;
}

.datos{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: auto;
  width: 70%;
  border: 1px solid goldenrod;
  font-size:0.6rem;
  margin-top: 5px;
  color:gold;
  padding: 5px;
}
.datos:hover{
  color: white;
  cursor: pointer;
}
/*SECTION 3*/
main #section-3{
  display: flex;
  margin: auto;
  flex-direction: column;
  width: 100%;
  flex-wrap:wrap;
  margin-top: 30px;
  text-align: center;
  top:150px;
  /* border: 1px solid red; */
}
main #section-3 p{
  margin:auto;
  margin-top: 20px;
}
main #section-3 ul {
  width:100%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction:row;
  margin: auto;
  margin-top: 20px;
  justify-content: space-around;
  /* border: 1px solid aqua; */
}
main #section-3 ul li{
  padding: 5px;
  flex-wrap: wrap;
  flex-direction:row;
  width:50%;
  margin-top: 5px;
  margin: auto;
  /* border: 1px solid yellow; */
}

#audioPlayer{ 
  display: flex;
  flex-wrap: wrap;
  border-radius:0px;
  width:100%;
  border:1px solid goldenrod;
  background-color: white;
  border-radius: 5px;
}
.playButton{
  width:0px;
  text-align: center;
  justify-content: center;
  margin: auto;
  font-size: 0;
  padding:0px;
  height: 0;
  border: none;
  cursor: pointer;
}
.btnMusica{
          cursor: pointer;
          width:40%;
          display: flex;
          justify-content: center;
          /* margin-left: 30px;*/
          margin: auto;
          margin-top:40px; 
          border-radius: 7px;
          padding: 7px;
          font-size: 0.9rem;
          border:1px solid goldenrod;
          background-color: rgb(241, 235, 235);
}
#sugerencias{
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-top: 50px;
  padding: 20px;
  /* border: 1px solid yellow; */
}
#sugerencias a{
  color: white;
  cursor: pointer;
  font-size: 1.5rem;
  height: 30px;
  margin-top: 10px;
  font-family: "Grenze Gotisch", serif;
}
#sugerencias a:hover{
  font-size: 1.8rem;
}
#sugerencias p{
  width: 100%;
  font-size: 1.2rem;
  font-family: "Grenze Gotisch", serif;
}
/****footer****/
footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top:170px;
  padding:15px;
  /* border: 1px solid red; */
}
footer a{
  width: 90%;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* border: 1px solid blue; */
}
footer p{
  font-family: Arial, Helvetica, sans-serif;
  width: 80%;
  font-size: 0.8rem;
  margin: auto;
  color: black;
  /* border:1px solid yellow */
}
}
/*******************************************************************************************************************/
/*****************************************MEDIA QUERY DESDE TABLET**************************************************/
/*******************************************************************************************************************/
@media screen and (min-width:768px) and (max-width:1500px){
  body{
    margin:0.25rem;
    padding:0.50rem;
  }
 
      .cabecera{
        width: 100%;
        align-items: center;
        justify-content:center;
        text-align: center;
        padding: 5px;
        display: flex;
        flex-wrap:wrap;
        flex-direction:row;
        margin-top:5px;
        top:80px;
        font-size: 0.8rem;
        /* border:1px solid violet; */
        }
          p{
            text-align: center;
            font-size: 1.5rem;
              font-family: "Grenze Gotisch", serif;
              font-optical-sizing: auto;
              font-weight:400;
              width: 90%;
              margin-top: 20px;
          }
  
h1{
  font-family: "BatmanForeverAlternate"; 
  font-size: 6rem;
}
#carousel{
  margin-top:50px;
  border: 1px solid violet;
}
#carousel p {
  margin: auto;
  margin-top: 30px;
}
h2, h4{
  width: 50%;
  text-align: center;
  margin: auto;
  font-family: "BatmanForeverAlternate"; 
  font-size: 2rem;
  /* border: 1px solid red; */
}
.thepower-carousel{
  display: flex;
  flex-wrap: wrap;
  flex-direction:column-reverse;
  width: 80%;
  /* height:90vh; */
  margin: auto;
  margin-top:0px;
  border: 1px solid green;
}

.scrollable-set{
  display: flex;
  flex-direction: row;
  padding:5px;
  overflow-x:scroll;
  gap: 0.30rem;
  cursor: pointer;
  width:100%;
  margin: auto;
  margin-top:20px;
  border: 1px solid blue;
  }
  .scrollable-set > * {
    flex-shrink: 0; /* Evita que los elementos hijos se reduzcan */
  }
  li.clickable{
    display: flex;
    width: 200px;
    height:200px;
    margin-top:0px;
    cursor: pointer;
    border: 2px solid  gray;
    }
    li.clickable img{
      width:100%;
      height: 100%;
      pointer-events: none;
      padding:0px;
      cursor: pointer;
      border: 1px solid  goldenrod;
      }
      div.image-preview{
        width:400px;
        height: 400px;
         background-position: top;
         background-size:cover;
        margin: auto;
        margin-top: 30px;
        border: 2px solid  gray;
        }
        .BTN{
          width: 120px;
          display: flex;
          justify-content: center;
          border-radius: 7px;
          padding: 5px;
          background-color: rgb(241, 235, 235);
          margin: auto;
          margin-top:60px;
          &&{
            button.btn-delete{
              width: 130px;
              height: 30px;
              flex-wrap: wrap;
              padding:0px;
              border-radius: 7px;
              cursor: pointer;
              text-align: center;
              margin-left:0px;
              margin-top:0px;
              font-size: 0.8rem;
              margin: auto;
              border: none;
              /* border:1px solid  red */
            }
          }
          /* border:1px solid goldenrod; */
        }
      
/*section---2*/
#section-2{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding: 20px;
  /* border: 1px solid white; */
}
main  #section-2 li.clickable{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width:250px;
  height:350px;
  align-items: center;
  margin: auto;
  margin-top: 20px;
  border: 2px solid red;
}

.datos{
  display: flex;
  position: relative;
  flex-wrap: wrap;
  flex-direction: column;
  margin: auto;
  width: 70%;
  border: 2px solid goldenrod;
  font-size:0.7rem;
  margin-top: 5px;
  color:gold;
  padding: 5px;
}
.datos:hover{
  color: white;
  cursor: pointer;
}
/*SECTION 3*/
main #section-3{
  display: flex;
  margin: auto;
  flex-direction: column;
  width: 100%;
  flex-wrap:wrap;
  margin-top: 20px;
  text-align: center;
  top:150px;
  /* border: 1px solid red; */
}
main #section-3 ul {
  width:70%;
  height: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction:row;
  margin: auto;
  margin-top: 20px;
  justify-content: space-around;
  /* border: 1px solid aqua; */
}
main #section-3 ul li{
  padding: 5px;
  flex-wrap: wrap;
  flex-direction:row;
  width:20%;
  margin-top: 5px;
  margin: auto;
  /* border: 1px solid yellow; */
}
#audioPlayer{ 
  display: flex;
  flex-wrap: wrap;
  border-radius:0px;
  width:100%;
  max-width:250px;
  margin: 20px auto; 
  border:1px solid goldenrod;
  background-color: white;
  border-radius: 5px;
}
.playButton{
  width:0px;
  text-align: center;
  justify-content: center;
  margin: auto;
  font-size: 0;
  padding:0px;
  height: 0;
  border: none;
  cursor: pointer;
}
.btnMusica{
          cursor: pointer;
          width:10%;
          display: flex;
          justify-content: center;
          /* margin-left: 30px;*/
          margin: auto;
          margin-top:40px; 
          border-radius: 7px;
          padding: 15px;
          font-size: 0.9rem;
          border:1px solid goldenrod;
          background-color: rgb(241, 235, 235);
}
#sugerencias{
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-top: 50px;
  padding: 20px;
  /* border: 1px solid yellow; */
}
#sugerencias a{
  color: white;
  cursor: pointer;
  font-size: 1.8rem;
  height: 30px;
  font-family: "Grenze Gotisch", serif;
}
#sugerencias a:hover{
  font-size: 2rem;
}
#sugerencias p{
  font-size: 1.5rem;
  font-family: "Grenze Gotisch", serif;
}
/****footer****/
footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top:170px;
  padding:15px;
  /* border: 1px solid red; */
}
footer a{
  width: 70%;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* border: 1px solid blue; */
}
footer p{
  font-family: Arial, Helvetica, sans-serif;
  width: 70%;
  font-size: 1rem;
  margin: auto;
  color: black;
  /* border:1px solid yellow */
}
}