@import url('https://fonts.googleapis.com/css2?family=Grenze+Gotisch:wght@100..900&display=swap');

:root {
  --color-primary:rgba(255, 255, 255, 0.87);
  --color-secondary:#16161a;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-primary);
  background-color:var(--color-secondary);


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  background: #000000;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #434343, #000000);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
  list-style: none;
  text-decoration: none;
}


/***********************************************************************************************************/
/**********************************************MOBILE*******************************************************/
/**********************************************************************************************************/
@media screen and (min-width:320px) and (max-width:768px){
  body{
    margin:1rem;
    padding:0rem;
  }
   /* header{
    width: 100%;
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top:0px;
    padding:0rem;
    border: 1px solid blue;
  } */
      .cabecera{
        width: 100%;
        align-items: center;
        justify-content:center;
        text-align: center;
        padding: 5px;
        display: flex;
        flex-wrap:wrap;
        flex-direction:row;
        margin-top:30px;
        font-size: 0.8rem;
        /* border:1px solid violet; */
        }
        .cabecera > .img{
          width: 120px;
          height: 180px;
         /* border: 1px solid yellow; */
        }
        .cabecera > .img img{
          width: 100%;
          height: 100%;
        }
        .cabecera .img{
          animation: slideInIMG 3s ease-out forwards; /* Aplica la animación */
         }
         @keyframes slideInIMG {
          0% {
              transform: translateY(-500%); /* Fuera de la pantalla a la izquierda */
              opacity: 0; /* Invisible al inicio */
              
          }
         
          100% {
              transform: translateY(0); /* Posición final en el lugar original */
              opacity: 1;
          }
        }
          p{
            text-align: center;
            font-size: 1.1rem;
              font-family: "Grenze Gotisch", serif;
              font-optical-sizing: auto;
              font-weight:400;
              width: 100%;
              margin-top: 20px;
              color:#94a1b2;
              /* border: 1px solid white; */
          }
  
h1{
  font-family: "BatmanForeverAlternate"; 
  font-size:2.5rem;
  color: #fffffe;
  display: none;
}
#carousel{
  margin-top:50px;
  text-align: center;
  align-items: center;
  /* border: 1px solid yellow; */
}
#carousel p{
  margin: auto;
  margin-top: 30px;
  /* border: 1px solid red; */
}
h2, h4{
  width: 90%;
  text-align: center;
  margin: auto;
  font-family: "BatmanForeverAlternate"; 
  font-size: 1.3rem;
  /* border: 1px solid red; */
}
.thepower-carousel{
  display: flex;
  flex-wrap: wrap;
  flex-direction:row;
  width: 100%;
  justify-content: space-around;
  height:100vh;
  margin: auto;
  margin-top: 30px;
  /* border: 1px solid green; */
}

.scrollable-set{
  display: flex;
  flex-wrap: wrap;
  padding:0px;
  overflow-y: hidden;
  overflow-x: scroll;
  align-items: center;
  gap: 0.60rem;
  margin-top:0px;
  cursor: pointer;
  width:100%;
  height: 35%;
  flex-direction:column;
  margin-left:0px;
  border: 2px solid gray;
  }

  .scrollable-set > .clickable{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width:100px;
    min-height:200px;
    margin-top:0px;
    cursor: pointer;
    /* margin: auto; */
    border: 2px solid  gray;
    }
    li.clickable img{
      width:100%;
      height: 100%;
      pointer-events: none;
      padding:0px;
      margin-top: 0px;
      cursor: pointer;
      /* border: 1px solid  goldenrod; */
      }
      div.image-preview{
        width:100%;
        height:80%;
        margin: auto;
        background-position:top;
        background-repeat:no-repeat;
        background-size:cover;
        background-color:var(--color-secondary);
        border-radius: 10px;
        margin-top:10px;
        /* border: 2px solid  gray; */
        }
/*section---2*/
#section-2{
  /* display: flex; */
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  padding: 10px;
  gap: 3rem;
  margin-top: 20px;
  /* border: 1px solid white; */
}
main  #section-2 li.clickable{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  width:90%;
  height:90%;
  align-items: center;
  margin: auto;
  margin-top: 10px;
}
/*BOTON VOLVER*/
.cajaBotonVolver{
  width: 45px;
  height: 45px;
  position: fixed;
  cursor: pointer;
  scroll-behavior: smooth;
  /* z-index: 1; */
  top: 80%;
  right:2%;
  /* border: 1px solid red; */
}
.cajaImgBotonVolver{
  width: 100%;
  height: 100%;
  border-radius: 100px;
  padding: 5px;
  background-color: yellow;
  border: 1px solid yellow;
}
.cajaImgBotonVolver img{
  width: 100%;
  height:100%;
}
#sugerencias{
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-top: 60px;
  padding:5px;
  /* border: 1px solid yellow; */
}
#sugerencias a{
  color:#94a1b2;
  cursor: pointer;
  font-size: 1.5rem;
  height: 30px;
  margin-top: 20px;
  font-family: "Grenze Gotisch", serif;
}
#sugerencias a:hover{
  color: #7f5af0;
  font-size: 1.8rem;
}
#sugerencias p{
  width: 100%;
  font-size: 1.2rem;
  color:#94a1b2;
}
/****footer****/
footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 50px;
  margin-top:170px;
  padding:10px;
  /* border: 1px solid red; */
}
footer a{
  width: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* border: 1px solid blue; */
}
footer p{
  width: 100%;
  font-size: 0.7rem;
  margin: auto;
  color:#94a1b2;
  font-family: "BatmanForeverAlternate"; 
  /* border:1px solid yellow */
}
}
/*******************************************************************************************************************/
/*****************************************MEDIA QUERY DESDE TABLET**************************************************/
/*******************************************************************************************************************/
@media screen and (min-width:769px) and (max-width:1500px){
     main{
      /* border: 1px solid yellow; */
      margin-top: 50px;
     }
      .cabecera{
        width: 100%;
        align-items: center;
        justify-content:center;
        text-align: center;
        padding: 5px;
        display: flex;
        flex-wrap:wrap;
        flex-direction:row;
        margin-top:5px;
        top:0px;
        font-size: 0.8rem;
        /* border:1px solid violet; */
        }
       .cabecera .img{
        animation: slideInIMG 3s ease-out forwards; /* Aplica la animación */
       }
       @keyframes slideInIMG {
        0% {
            transform: translateX(500%); /* Fuera de la pantalla a la izquierda */
            opacity: 0; /* Invisible al inicio */
            
        }
       
        100% {
            transform: translateX(0); /* Posición final en el lugar original */
            opacity: 1;
        }
      }
          .cabecera p{
              font-size: 1.8rem;
              font-family: "Grenze Gotisch", serif;
              font-optical-sizing: auto;
              font-weight:400;
              width: 97%;
              margin-top: 90px;
              padding: 10px;
              color:#94a1b2;
              text-align: center;
              /* border: 1px solid green; */
          }
  
h1 {
  font-family: "BatmanForeverAlternate";
  font-size: 4rem;
  color: #fffffe;
  animation: colorChange 2s infinite; 
  animation: slideIn 3s ease-out forwards; /* Aplica la animación */
}

/* Definir la animación */
@keyframes slideIn {
  0% {
      transform: translateX(-100%); /* Fuera de la pantalla a la izquierda */
      opacity: 1; /* Invisible al inicio */
      color:rgb(207, 207, 121);
  }
  50% {
      opacity: 0.5; /* Se hace visible a mitad del trayecto */
      color:#7f5af0;
  }
  100% {
      transform: translateX(0); /* Posición final en el lugar original */
      color: #fffffe;
  }
}

h2, h4{
  width: 50%;
  text-align: center;
  margin: auto;
  font-family: "BatmanForeverAlternate"; 
  font-size: 2rem;
  color: #fffffe;
  border: 1px solid red;
}
/*BOTON VOLVER*/
.cajaBotonVolver{
  width: 50px;
  height: 50px;
  position: fixed;
  cursor: pointer;
  scroll-behavior: smooth;
  
  top: 90%;
  right:2%;
  /* border: 1px solid red; */
}
.cajaImgBotonVolver{
  width: 100%;
  height: 100%;
  border-radius: 100px;
  padding: 5px;
  background-color: yellow;
  border: 1px solid yellow;
}
.cajaImgBotonVolver img{
  width: 100%;
  height:100%;
}
#sugerencias{
  width: 95%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  margin-top: 70px;
  padding: 20px;
}
#sugerencias p{
  font-size: 1.8rem;
  font-family: "Grenze Gotisch", serif;
  font-optical-sizing: auto;
  font-weight:400;
  width: 97%;
  margin-top: 90px;
  padding: 10px;
  color:#94a1b2;
  text-align: center;
}
#sugerencias a{
  width: 30%;
  margin: auto;
  text-align: center;
  align-items: center;
  justify-content: center;
  color:#94a1b2;
  text-decoration: underline;
  cursor: pointer;
  font-size: 1.8rem;
  margin-top: 30px;
  height: 40px;
  font-family: "Grenze Gotisch", serif;
  /* border: 1px solid red; */
}
#sugerencias a:hover{
  font-size: 1.9rem;
  color: #7f5af0;
}
#sugerencias p{
  margin-top: 40px;
  font-size: 1.5rem;
  font-family: "Grenze Gotisch", serif;
 
  /* border: 1px solid white; */
}
/****footer****/
footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: 70px;
  margin-top:170px;
  padding:15px;
  /* border: 1px solid red; */
}
footer a{
  width: 70%;
  align-items: center;
  justify-content: center;
  text-align: center;
  /* border: 1px solid blue; */
}
footer p{
  font-family: "BatmanForeverAlternate"; 
  width: 70%;
  font-size: 1rem;
  margin: auto;
  color:#94a1b2;
  /* border:1px solid yellow */
}
}